#atoms-show .wrap-title {
  text-align: center;
}
#atoms-show .seeds {
  text-align: center;
}
#atoms-show table {
  width: 100%;
}
#atoms-show table td {
  width: 50%;
  vertical-align: top;
}
#atoms-show table th {
  text-align: left;
}
#atoms-show table .tree td {
  border-bottom: gray 1px dashed;
}
